<%= error_messages_for 'category' %>

<div class="box tabular">
<p><%= f.text_field :name, :size => 60, :required => true %></p>
<p><%= f.select :assigned_to_id, principals_options_for_select(@project.assignable_users, @category.assigned_to), :include_blank => true %></p>
<p><%= f.select :parent_id, issue_category_tree_options_for_select(@project.issue_categories, { :current => @category, :selected => @category.parent_id }), :label => :label_issue_category_parent_id, :include_blank => true %></p>
</div>
