/* Issue Category listing in project settings & Issue summary */
tr.issue_category.idnt td.name:before {content: url(../images/arrow-right.png); padding-left: 0; margin-right: 0.2em;}
tr.issue_category.idnt-1 td.name {padding-left: 0.5em;}
tr.issue_category.idnt-2 td.name {padding-left: 2em;}
tr.issue_category.idnt-3 td.name {padding-left: 3.5em;}
tr.issue_category.idnt-4 td.name {padding-left: 5em;}
tr.issue_category.idnt-5 td.name {padding-left: 6.5em;}
tr.issue_category.idnt-6 td.name {padding-left: 8em;}
tr.issue_category.idnt-7 td.name {padding-left: 9.5em;}
tr.issue_category.idnt-8 td.name {padding-left: 11em;}
tr.issue_category.idnt-9 td.name {padding-left: 12.5em;}

tr.issue_category a.icon-move-top
{
	background-image: url(../images/2-up-arrow.png);
}

tr.issue_category a.icon-move-up
{
	background-image: url(../images/1-up-arrow.png);
}

tr.issue_category a.icon-move-down
{
	background-image: url(../images/1-down-arrow.png);
}

tr.issue_category a.icon-move-bottom
{
	background-image: url(../images/2-down-arrow.png);
}

/* Category listing in issue view */
.category ul#issue_category_tree,
.category ul#issue_category_tree li ul
{
	list-style: none;
	
	text-align: left;

	margin: 0px;
	padding-left: 0px;
}

.category ul#issue_category_tree
{
	margin: 0px auto;
}

.category ul#issue_category_tree li ul
{
	padding-left: 1em;
}

.category ul#issue_category_tree li span,
.category ul#issue_category_tree li ul li span
{
	color: #aaa;
}

.category ul#issue_category_tree li ul li span
{
	background-image: url(../images/arrow-right.png);
	background-position: 0 50%;
	background-repeat: no-repeat;

	padding-left: 16px;
}

.category ul#issue_category_tree li ul li span.issue_category
{
	color: black;
}

/* Journal History */
span.issue_category_tree span
{
	background-image: url(../images/arrow-right.png);
	background-position: 0 50%;
	background-repeat: no-repeat;

	color: #aaa;

	padding-left: 16px;
}

span.issue_category_tree span.parent:first-child
{
	background-image: none;
	
	padding-left: 0px;
}

span.issue_category_tree span.issue_category
{
	color: black;
}

/* Context Menu */
div#context-menu li.folder ul.issue_category_tree li.category-tree-nofx,
div#context-menu li.folder ul.issue_category_tree li.category-tree-nofx:hover
{
	background: transparent;
	border: none;
	
	padding: 0px;
}

div#context-menu li.folder ul.issue_category_tree li.category-tree-nofx > ul
{
	background: transparent;
	border: none;
	
	left: auto;
	top: auto;
	
	display: block;
	position: relative;
	
	padding-left: 20px;
	
	width: 130px;
}